<ion-content>
  <label>Nombre</label>
  <input type="text" id="nombre" [(ngModel)]="nombre"><br><br>
  <label>Apellido</label>
  <input type="text" id="apellido" [(ngModel)]="apellido"><br><br>
  <label>DNI</label>
  <input type="text" id="dni" [(ngModel)]="dni"><br><br>
  <label>Anonimato</label>
  <input type="checkbox" id="anonimato"><br><br>
  <label>Foto</label>
  <button id="btnSubirFoto" (click)="SubirFoto()">Subir Foto</button><br><br>

  <button id="btnEscanearQR" (click)="EscanearQR()">Escanear QR</button><br><br><br><br><br>

</ion-content>
