<ion-header>
  <app-header title="ENCUESTA"></app-header>
</ion-header>
<ion-content>
  <p align="center" class="titulo">
    <strong>
      Nos interesaria mucho saber que piensas de nuestro local.
      Llena el formulario y hazno saber en que podemos cambiar para poder mejorar.
    </strong>
  </p>
  <div class="formulario">
    <br>
    <ion-grid>
      <ion-row>
        <ion-col col-12>
          <ion-label class="lb">
            ¿QUE TAN SATISFECHO ESTA CON SU PEDIDO?
          </ion-label>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-12>
          <ion-range color="light" min="1" max="10" pin="true" class="rango">
            <ion-icon range-left name="sad"></ion-icon>
            <ion-icon range-right name="happy"></ion-icon>
          </ion-range>
          <p align="center" style="color: white;"><ion-label class="lb">INGRESE UN RANGO DEL 1 AL 10</ion-label></p>
        </ion-col>
      </ion-row>

      <br>
      <ion-row>
        <ion-col col-12>
          <ion-label class="lb">¿COMO PODRIAMOS MEJORAR?</ion-label>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-12>
          <ion-textarea placeholder="Escriba su opinión" [(ngModel)]="opinion"></ion-textarea>
        </ion-col>
      </ion-row>

      <br>
      <ion-row>
        <ion-col col-12>
          <ion-label class="lb">¿EL LOCAL CUENTA CON PROTOCOLO CONTRA EL CORONAVIRUS?</ion-label>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-list radio-group class="radio">
          <ion-col col-6>
            <ion-radio-group id="grupo">
              <ion-item>
                <ion-label>Sí</ion-label>
                <ion-radio color="dark" value="true"></ion-radio>
              </ion-item>
              <ion-item>
                <ion-label>No</ion-label>
                <ion-radio color="dark" value="false"></ion-radio>
              </ion-item>
            </ion-radio-group>
          </ion-col>
        </ion-list>
      </ion-row>

      <br>
      <ion-row>
        <ion-col col-12>
          <ion-label class="lb">¿QUE ES LO MAS DESTACABLE DE NUESTRO LOCAL?</ion-label>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-12>
          
          <ion-item>
            <ion-label>Elija una opción</ion-label>
            
            <ion-select id="select">
              <ion-select-option value="Calidad y temperatura del plato">Calidad y temperatura del plato</ion-select-option>
              <ion-select-option value="Velocidad del pedido">Velocidad del pedido</ion-select-option>
              <ion-select-option value="Atención del personal">Atención del personal</ion-select-option>
              <ion-select-option value="Higiene del local">Higiene del local</ion-select-option>
            </ion-select>
          
          </ion-item>
        
        </ion-col>
      </ion-row>

      <br>
      <ion-row>
        <ion-col col-12>
          <ion-label class="lb">TU MESA CONTABA CON:</ion-label>
        </ion-col>
      </ion-row>
      <ion-row class="checkBox">
        <ion-col col-6>
          <ion-item>
            <ion-label>Sal</ion-label>
            <ion-checkbox color="dark" id="chkSal"></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>Escarbadientes</ion-label>
            <ion-checkbox color="dark" id="chkEscarvadientes"></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>Servilletas</ion-label>
            <ion-checkbox color="dark" id="chkServilletas"></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>Aderezos</ion-label>
            <ion-checkbox color="dark" id="chkAderezos"></ion-checkbox>
          </ion-item>
        </ion-col>
      </ion-row>

      <br><br>
      <ion-row>
        <ion-col col-12>
          <ion-button (click)="SacarFoto()" color="light" expand="block" [hidden]="yaSubioTodasLasFotos">Subir foto {{cantFotos}}</ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-12>
          <img [src]="foto" alt="" />
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-12>
          <ion-button (click)="enviarEncuesta()" color="light" expand="block">Enviar</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>