ion-content {
    --background: none;
    background-size: 100% 100%;
    background-image: url(../../../../assets/splash/fondo.jpg);
}

.lb{
    font-family: TCM;
    color: white;
    font-size: 3.4vw;
}
.titulo{
    font-family: TCM;
    color: black;
    font-size: 4vw;
}
.rango{
    width: 90%;
    --background: none;
    background: transparent;
    margin: 0 auto;
}
small{
    font-size: 2vw;
}
.radio{
    margin: 0 auto;
    width: 90%;
    border-radius: 10px;
    font-size: 3.4vw;
    background-color: white;
    padding: 10px auto;
}
.select{
    background: transparent;
    width: 90%;
    margin: 0 auto;
    border-radius: 10px;
    padding: 10px auto;
}

.checkBox{
    background-color: white;
    width: 90%;
    margin: 0 auto;
    border-radius: 10px;
}

ion-textarea{
    width: 90%;
    background-color: white;
    font-size: 3.5vw;
    border-radius: 10px;
    margin: 0 auto;
    padding: 10px auto;
    font-family: TCM
}

ion-item{
    background: transparent;
    width: 90%;
    margin: 0 auto;
    border-radius: 10px;
}
ion-list{
    background: transparent;
}

.formulario{
    background-color: rgb(0, 0, 0, 0.6);
    border-radius: 15px;
    width: 90%;
    margin: 0 auto;
}


@font-face{
    font-family: TCM;
    src: url(../../../../assets/fonts/AnyConv.com__TCM_____.woff);
}
@font-face{
    font-family: BlackRoads;
    src: url(../../../../assets/fonts/AnyConv.com__FontsFree-Net-blackwoff2.woff);
  }
