ion-content{
    --background: none;
    
}

.contenido{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 40% 65%;
    grid-gap: 2px;
    margin: 0 auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
    grid-template-areas: "contornoTit contornoDesc"
                         "contornoBot contornoFotos";
    width: 100vw;
}


.contornoTit{
    grid-area: contornoTit;
    background-color: antiquewhite;
   
    margin-left: 0.5rem;
}

.contornoDesc{
    grid-area: contornoDesc;
    background-color: antiquewhite;
    margin-right: 0.5rem;
}

.contornoBot{
    grid-area: contornoBot;
    background-color: antiquewhite;
    margin-left: 0.5rem;
}  

.contornoFotos{
    grid-area: contornoFotos;
    background-color: antiquewhite;
    margin-right: 0.5rem;
}

.objeto{
    font-size: 2rem;
}
 
.opciones{
    font-size: 1.5rem;
}
.value{
   position: absolute;
   margin-bottom: 2rem;
}

.radOpt{
    display: block;
    padding-left: 2.3rem;
    margin-bottom: 1.5rem;
    font-size: 1.3rem;
    padding-top: 0.2rem;
}

.btn{
    height: 24%;
    width: 95%;
}

.select{
    font-size: 1.5rem;
}

.range{
    color: red;
}

ion-row{
    margin-top: 1.5rem;
}
 
 
 