ion-content{
    --background: none;
}

.contenido{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 40% 50%;
    grid-template-areas: "contornoTit contornoDesc"
                         "contornoBot contornoFotos";
    border: 1px solid black;
    height: 100vh;
    width: 100vw;
}


.contornoTit{
    grid-area: contornoTit;
    border: .1rem solid black;
}

.contornoDesc{
    grid-area: contornoDesc;
    border: .1rem solid black;
}

.contornoBot{
    grid-area: contornoBot;
    border: .1rem solid black;
    height: 100%;
}  

.contornoFotos{
    grid-area: contornoFotos;
    border: 1px solid black;
}
 
.value{
   position: absolute;
   margin-bottom: 2rem;
}

.radOpt{
    display: block;
    padding-left: 2.3rem;
    margin-bottom: 1.5rem;
    font-size: 1.3rem;
    padding-top: 0.2rem;
}



 
 