<ion-content class="ion-padding">
  <p>Pedimos solo su nombre y apellido para que podamos saber sus pedidos.</p>
  <br><br><br>
  <form [formGroup]="clientForm" (ngSubmit)="onSubmit()">
    <ion-item>
      <ion-label position="floating">Nombre</ion-label>
      <ion-input type="text" formControlName="name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Apellido</ion-label>
      <ion-input type="text" formControlName="lastName"></ion-input>
    </ion-item>
      <ion-button [disabled]="!clientForm.valid" type="submit">Aceptar</ion-button>
  </form>
</ion-content>
<ion-footer>
  <ion-toolbar>
      <ion-buttons>
          <ion-button class="close" (click)="dismissModal()">Cerrar</ion-button>
       </ion-buttons>
  </ion-toolbar>
</ion-footer>