ion-avatar{
    width:100% !important;  
    height : 100% !important;  
    max-width: 100px !important;  
    max-height: 100px !important;
}
h5{
    font-size: 4vw;
    font-family: TCM;
}
.empty{
    font-size: 5vw;
    color: rgb(0, 0, 0, 0.3);
    font-family: TCM;
    max-width: 60%;
    margin: auto;
}

@font-face{
    font-family: TCM;
    src: url(../../../assets/fonts/AnyConv.com__TCM_____.woff);
}
