<app-header title="Encuesta Supervisor"></app-header>

<ion-content>
 
  <ion-list>
    <ion-list-header class="perfil">Clientes</ion-list-header>
  </ion-list>

      <ion-item-group *ngFor="let usuario of usuarios; let i = index">
        <ion-item *ngIf="usuario.perfil.toString() === 'cliente'">
          <div class="encuestaContenido">
            <button class="boton" (click)="encuesta()"></button>
            <img class="foto"  [src]="'https://loremflickr.com/320/240?random='+i"/>
            <ion-text class="nombre">{{ usuario.nombre | uppercase}} {{usuario.apellido | uppercase}}</ion-text >
            <ion-text class="correo">{{ usuario.correo}}</ion-text >
           
          </div>
        </ion-item>
      </ion-item-group>
   
   <ion-list>
    <ion-list-header class="perfil">Empleados</ion-list-header>
  </ion-list>

  <ion-item-group *ngFor="let usuario of usuarios; let i = index">
    <ion-item *ngIf="usuario.perfil.toString() != 'cliente' && usuario.perfil.toString() != 'anonimo'">
      <div class="encuestaContenido">
        <button class="boton" (click)="encuesta()"></button>
        <img class="foto"  [src]="'https://loremflickr.com/320/240?random='+i"/>
        <ion-text class="nombre">{{ usuario.nombre | uppercase}} {{usuario.apellido | uppercase}}</ion-text >
        <ion-text class="correo">{{ usuario.perfil | titlecase}}</ion-text >
       
      </div>
    </ion-item>
  </ion-item-group>

</ion-content>