<app-header title="Encuesta Supervisor"></app-header>

<ion-content>

 <form [formGroup]="forma">
  <ion-radio-group  formControlName="perfil" >
    
    <ion-label>Empleados</ion-label>
    <ion-radio slot="start"  value="Empleados"> </ion-radio>
    
    <ion-label>Clientes</ion-label>
    <ion-radio slot="start" value="Clientes"></ion-radio>
    
  </ion-radio-group>

  <ion-item>
    <ion-label> 
    </ion-label>
    <ion-select  interface="popover" [attr.disabled]="forma.get('perfil').invalid" formControlName="tipo">
      <ion-select-option  value ="em" >em</ion-select-option>
     
    </ion-select>
  </ion-item>

</form>
  <button (click)="verificar()" >Verificar</button>
 

</ion-content>