<ion-header [translucent]="true">
  <app-header title="DETALLE CUENTA"></app-header>
</ion-header>

<ion-content>
    <p align="center">
      <label class="encabezado">Gracias una vez mas por elegirnos. Esperamos que hayas disfrutado de nuestros platos y nuestra atención, ¡Hasta la proxima!</label>
    </p><br>
  <ion-item-group *ngFor="let item of pedidosEntregados">
    <ion-item>      
      <div class="detalleItems">
        <ion-label class="detalleDesc">{{item.descripcion}} ({{item.precioUnitario}})</ion-label>
        <ion-label class="detalleCant"> x {{item.cantidad}}u. </ion-label>
        <p align="right">
          <ion-label class="detalleImp">$ {{item.importe}} </ion-label>
        </p>
      </div>
    </ion-item>

  </ion-item-group>
  <ion-item>
    <div class="pie">
      <ion-label class="pie">Propina</ion-label>
      <p align="right">
        <ion-label>$ {{propina}}</ion-label>
      </p>
      <ion-label class="pie total">Total</ion-label>
      <p align="right">
      <ion-label class="total">$ {{total}}</ion-label>
    </p>
  </div>
  </ion-item>
</ion-content>
<ion-footer>
  <ion-toolbar class="btn">
    <ion-button expand="block" color="dark" [hidden]="yaPago" (click)="pagar()">Pagar</ion-button>
  </ion-toolbar>
</ion-footer>
