.encabezado{
    font-size: 22px;
}

.pie{
    font-size: 32px;
    width: 100%;
}

.detalleItems{
    width: 100%;
    height: auto;
}
.detalleDesc{
    font-size: 18px;
}

.detalleCant{
    font-size: 18px;
}

.detalleImp{
    font-size: 22px;
    left: 100%;
}

.btn{
    display: flex;
    justify-content: center;
    position: fixed;
    z-index: 100;
    bottom: 0rem;
    width: 100vw;
}