<ion-header>
  <app-header title="ALTA MESA"></app-header>
</ion-header>
<ion-content>
  <ion-grid [fixed]="true">
    <form class="form" [formGroup]="tableForm" (ngSubmit)="onSubmitTable()">
      <ion-list>
        <ion-row>
          <ion-col size="12">
            <p align="center">
              <img class="img" [src]="viewPic">
            </p>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12">
            <ion-item class="input">
              <ion-label position="floating">Número de mesa</ion-label>
              <ion-input formControlName="number" type="number"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12">
            <ion-item class="input">
              <ion-label position="floating">Cantidad de comensales</ion-label>
              <ion-input formControlName="people" type="number"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12">
            <ion-list  class="radio">
              <ion-radio-group formControlName="type">
                <ion-list-header class="radio">
                  <ion-label>Tipo</ion-label>
                </ion-list-header>
                <ion-item class="radio">
                  <ion-label>Básico</ion-label>
                  <ion-radio slot="start" value="Básico"></ion-radio>
                </ion-item>
                <ion-item class="radio">
                  <ion-label>Familiar</ion-label>
                  <ion-radio slot="start" value="Familiar"></ion-radio>
                </ion-item>
                <ion-item class="radio">
                  <ion-label>Personas con discapacidad</ion-label>
                  <ion-radio slot="start" value="Personas con discapacidad"></ion-radio>
                </ion-item>
                <ion-item class="radio">
                  <ion-label>VIP</ion-label>
                  <ion-radio slot="start" value="VIP"></ion-radio>
                </ion-item>
              </ion-radio-group>
            </ion-list>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12">
            <p align="center">
              <ion-button (click)="onTakePicture()">Subir Foto</ion-button>
            </p>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12">
            <p align="center">
              <ion-button [disabled]="(!tableForm.valid || !image)" type="submit">Aceptar</ion-button>
            </p>
          </ion-col>
        </ion-row>
      </ion-list>
    </form>
  </ion-grid>
</ion-content>