<app-header title="ALTA EMPLEADO"></app-header>

<ion-content>

    <form class="formulario" [formGroup]="forma" (ngSubmit)="altaEmpleado()">
      
      <div class="box-form">
        <p align="center">
          <img class="img" [src]="viewPic">
        </p>

      <ion-button class="btn qr" (click)="escanearQR()" [disabled]="false">
        Escanear QR DNI
      </ion-button> 

      <ion-item class="item">
      <ion-label class="label"  position="floating">Nombre</ion-label>
      <ion-input type="text" class="input" [(ngModel)]="inputSetQr.nombre" formControlName="nombre"></ion-input>
      </ion-item>

      <ion-item class="item">
      <ion-label position="floating">Apellido</ion-label>
      <ion-input type="text" class="input" [(ngModel)]="inputSetQr.apellido" formControlName="apellido"></ion-input>
      </ion-item>

      <ion-item class="item"> 
      <ion-label position="floating">Correo</ion-label> 
      <ion-input type="text" class="input" formControlName="correo"></ion-input>
      </ion-item>

      <ion-item class="item"> 
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input type="password" class="input" formControlName="pass"></ion-input>
      </ion-item>
      
      <ion-item class="item"> 
      <ion-label position="floating">DNI</ion-label>
      <ion-input type="text" class="input" [(ngModel)]="inputSetQr.dni" formControlName="dni"></ion-input>
      </ion-item>


      <ion-item class="item"> 
      <ion-label class="label" position="floating">CUIL</ion-label>
      <ion-input type="text" class="input" formControlName="cuil"></ion-input>
      </ion-item>


      <ion-item class="item"> 
      <ion-label class="label" position="floating">Categoria</ion-label>
      <ion-select class="select" name="perfil" class="inputSelect" formControlName="perfil">
        <ion-select-option value="mozo" selected>Mozo</ion-select-option>
        <ion-select-option value="cocinero">Cocinero</ion-select-option>
        <ion-select-option value="bartender">Bartender</ion-select-option>
        <ion-select-option value="metre">Metre</ion-select-option>
        <ion-select-option value="repartidor">Repartidor</ion-select-option>
      </ion-select> 
      </ion-item>

      <ion-button class="btn foto found" (click)="cargarFoto()" [class.noFound]="fotoCam">Subir Foto</ion-button>
      <br><br>
      <ion-button class="btn"  type="submit" [disabled]="forma.invalid || !fotoCam">Aceptar</ion-button>

    </div>
    </form>

</ion-content>
