<ion-header [translucent]="true">
  <app-header title="ALTA DUEÑO"></app-header>
</ion-header>

<ion-content>
  <div id="VntPrincipal">
  <ion-grid [fixed]="true">
    <form class="form" [formGroup]="tableForm" (ngSubmit)="onSubmitTable()">
      <ion-list>
        <ion-row>
          <ion-col size="12">
            <p align="center">
              <img class="img" [src]="viewPic">
            </p>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="12">
            <p align="center">
              <ion-button (click)="EscanearQR()">Escanear QR</ion-button>
            </p>
          </ion-col>
        </ion-row>

         <ion-row>
          <ion-col size="12">
            <ion-item class="input">
              <ion-label position="floating">Nombre</ion-label>
              <ion-input formControlName="nombre" type="inputText"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="12">
            <ion-item class="input">
              <ion-label position="floating">Apellido</ion-label>
              <ion-input formControlName="apellido" type="inputText"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="12">
            <ion-item class="input">
              <ion-label position="floating">Correo electrónico</ion-label>
              <ion-input formControlName="correo" type="inputText"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="12">
            <ion-item class="input">
              <ion-label position="floating">Contraseña</ion-label>
              <ion-input formControlName="clave" type="password"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="12">
            <ion-item class="input">
              <ion-label position="floating">DNI</ion-label>
              <ion-input formControlName="dni" type="number"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="12">
            <ion-item class="input">
              <ion-label position="floating">CUIL</ion-label>
              <ion-input formControlName="cuil" type="number"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="12">
            <ion-list  class="radio">
              <ion-radio-group formControlName="type">
                <ion-item class="radio" style="margin-bottom: 5px;">
                  <ion-label>Dueño</ion-label>
                  <ion-radio slot="start" value="duenio" ></ion-radio>
                </ion-item>
                <ion-item class="radio">
                  <ion-label>Supervisor</ion-label>
                  <ion-radio slot="start" value="supervisor"></ion-radio>
                </ion-item>                
              </ion-radio-group>
            </ion-list>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="12">
            <p align="center">
              <ion-button [disabled]="image" (click)="SubirFoto()">Subir Foto</ion-button>
            </p>
          </ion-col>
        </ion-row>

        <ion-row>          
          <ion-col size="6">
            <p align="center">
              <ion-button [disabled]="(!tableForm.valid || !image)" type="submit">Aceptar</ion-button>
            </p>
          </ion-col>
          <ion-col size="6">
            <p align="center">
              <ion-button (click)="Cancelar()" type="button">Cancelar</ion-button>
            </p>
          </ion-col>
        </ion-row>
      </ion-list>
    </form>
  </ion-grid>
</div>
</ion-content>