<ion-header>
  <p align="center">MESAS DISPONIBLES</p>
</ion-header>
<ion-content class="ion-padding">
  <ion-list *ngFor='let table of tables'>
    <ion-item (click)="chooseTable(table)">
      <ion-label>
        <h5><strong>Número: </strong>{{table.number}}</h5>
        <h5><strong>Tipo: </strong>{{table.type}}</h5>
        <h5><strong>Capacidad de comensales: </strong>{{table.capacity}}</h5>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-buttons>
      <ion-button class="close" (click)="close()">Cerrar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>