
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>Luqi con q sin u</strong><br><br>
    <strong>Sorry, me olvido</strong><br><br>

    <button (click)="Alta(1)">Alta dueño/supervisor</button><br><br>
    <button (click)="Alta(2)">Alta empleado</button><br><br>
    <button (click)="Alta(3)">Alta cliente</button><br><br>
    <button (click)="Alta(4)">Alta mesa</button><br><br>
    <button (click)="Alta(5)">Alta producto</button><br><br>
  </div>
</ion-content>
