ion-content{
  --background: none;
  background-size: 100% 100%;
  background-image: url(../../../assets/splash/fondo.jpg);
}
.title{
  font-size: 5.5vw;
  font-family: BlackRoads;
  color: black;
}
.text{
  font-size: 4.5vw;
  font-family: TCM;
}
img{
  width: 40vw;
}
ion-card{
  margin: 15px auto !important;
  width: 85%;
}
ion-card:active{
  background-color:#aca8a8;
}

@font-face{
  font-family: TCM;
  src: url(../../../assets/fonts/AnyConv.com__TCM_____.woff);
}

@font-face{
  font-family: BlackRoads;
  src: url(../../../assets/fonts/AnyConv.com__FontsFree-Net-blackwoff2.woff);
}

.listaEspera{
  position: fixed;
  top: 35%;
  left: 7%;
  width: 85%;
  height: auto;
  background-color: rgb(255, 255, 255);
  border-radius: 8px;
  border: 1px solid black;
}

#txtListaEspera{
  color: #01bafa;
  font-weight: bold;
  font-size: 24px;
}

#numListaEspera{
  left: 50%;
  width: 100px;
  height: 25px;
  color: black;
  font-size: 20px;
  font-weight: bold;
}

