<ion-header [translucent]="true">
  <app-header (state)="showView = $event" [inshow]="!showView"  title="INICIO" ></app-header>
</ion-header>
<ion-content [fullscreen]="true">
  <div id="HomePrincipal">
    <div *ngFor="let card of cards">
      <ion-card *ngIf="!showView">
        <ion-card-content (click)="action(card.action)">
          <p align="center" class="title">
            {{card.title}}<br>
            <img src="{{card.photo}}">
          </p>
          <p align="center" class="text">
            {{card.message}}
          </p>
        </ion-card-content>
      </ion-card>
    </div>
    <div *ngFor="let card of alta">
      <ion-card *ngIf="showView">
        <ion-card-content (click)="page(card.action)">
          <p align="center" class="title">
            {{card.title}}<br>
            <img src="{{card.photo}}">
          </p>
        </ion-card-content>
      </ion-card>
    </div>
  </div>  

  <div class="listaEspera" [hidden]="!estoyListaEspera">
      <h1 align="center" id="txtListaEspera">¿Cuántos van a disfrutar de nuestros platos?</h1>
      <p align="center"><input id="numListaEspera" type="number" min="1" max="6" value="1"><br><br></p>
      <ion-button color="dark" style="margin-left: 10px;">Cancelar</ion-button>
      <ion-button color="dark" align="right" style="margin-right: 10px;">Aceptar</ion-button>
  </div>

</ion-content>

