ion-content{
  --background: none;
  background-size: 100% 100%;
  background-image: url(../../../assets/splash/fondo.jpg);
}
.title{
  font-size: 5.5vw;
  font-family: BlackRoads;
  color: black;
}
.text{
  font-size: 4.5vw;
  font-family: TCM;
}
.cliente{
  width: 40vw;
}
ion-card{
  margin: 15px auto !important;
  width: 85%;
}
ion-card:active{
  background-color:#aca8a8;
}

@font-face{
  font-family: TCM;
  src: url(../../../assets/fonts/AnyConv.com__TCM_____.woff);
}

@font-face{
  font-family: BlackRoads;
  src: url(../../../assets/fonts/AnyConv.com__FontsFree-Net-blackwoff2.woff);
}