ion-content{
    --background: transparent;
    background-size: 100% 100%;
    background-image: url(../../../../assets/image/fondo-alta.jpg);
}   
 
 ion-list-header,ion-item{
    --background: transparent;
 }

 ion-list{
     background-color: rgba(0, 0, 199, 0);
 }

.productoContenido{
    display: grid;
    width: 100vw;
    margin-top: 2rem;
    background-color: rgba(255, 255, 255, 0.603);
    border-radius: .4rem;
}

 
 

 
 

  


 
 

 
 
 
 

 

.tipo {
    font-size: 2.5rem;
}
 