ion-content{
    --background: transparent;
    background-size: 100% 100%;
    background-image: url(../../../../assets/image/fondo-alta.jpg);
}   
 
 ion-list-header,ion-item{
    --background: transparent;
 }

 ion-list{
     background-color: rgba(0, 0, 199, 0);
 }

  

 .tarea{
     font-size: 3rem;
     font-family: AnyConv;
     background-color: rgba(0, 0, 255, 0.342);
 }
 
 .tarea.entrega{
     margin-top: 2rem;
 }

 .pedidoContenido{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* border: 1px solid rgb(89, 0, 255); */
    width: 100%;
    border-radius: .4rem;
    background-color: rgba(255, 255, 255, 0.603);
    margin-top: 2rem;
    font-size: 2rem;
     
}

.mesa{
    border-bottom: 1px solid rgb(89, 0, 255);
    
}
 
.cliente{
    border-bottom: 1px solid rgb(89, 0, 255);
     
}
 
.tipo{
    border-bottom: 1px solid rgb(89, 0, 255);
  
}



.productoCont, .productoText{
    font-size: 1.7rem;
}


.botonNotificar{
    position: absolute;
    background-color: yellow;
    box-shadow: 10px 5px 5px black;
    width: 5rem;
    height: 5rem;
    border-radius: 5rem;
    right: 2rem;
    top: 1%;
  
}

  


 
 
