<app-header [title]="'Comanda ' + (usuario.perfil.toString() | titlecase)" style="font-size: 0.2rem;"></app-header>

<!-- Inicio Menu -->

<ion-content>
  <ion-list>
    <ion-list-header class="tarea">{{tarea}}</ion-list-header>
  </ion-list>

  <div *ngFor="let pedido of pedidos">
    <div *ngIf="pedido.estado == asignarTareas(pedido)">
      <ion-item-group>
        <ion-item>
          <div class="pedidoContenido">
            <button class="bottonNotificar" (click)="click()" class="botonNotificar">+</button>
            <ion-text class="mesa">Mesa #</ion-text >
            <ion-text class="cliente">Cliente: {{pedido.cliente | uppercase}}</ion-text >
            <ion-text class="tipo">Tipo: {{pedido.tipo | uppercase}}</ion-text >
            <ion-text class="productoText">Productos;</ion-text >
            <div class="productoCont" *ngFor="let prod of pedido.productos">        
              <ion-text class="prod">. {{prod.nombre | titlecase}}</ion-text>
              <ion-text class="cant"> X {{prod.cantidad}} un.</ion-text>
            </div>
           
          </div>
        </ion-item>
      </ion-item-group>
    </div>

  </div>


  <!-- VISTA MOZO: PEDIDOS PARA ENTREGAR-->


  <div *ngIf="usuario.perfil.toString() == 'mozo'">

  <ion-list >
    <ion-list-header class="tarea entrega">Entregar</ion-list-header>
  </ion-list>


  <div #var2 *ngFor="let pedido of pedidos">
    <div *ngIf="pedido.estado == 'preparado'">
      <ion-item-group>
        <ion-item>
          <div class="pedidoContenido">
            <button class="bottonNotificar" (click)="click()" class="botonNotificar">+</button>
            <ion-text class="mesa">Mesa #</ion-text >
            <ion-text class="cliente">Cliente: {{pedido.cliente | uppercase}}</ion-text >
            <ion-text class="tipo">Tipo: {{pedido.tipo | uppercase}}</ion-text >
            <ion-text class="productoText">Productos;</ion-text >
            <div class="productoCont" *ngFor="let prod of pedido.productos">        
              <ion-text class="prod">. {{prod.nombre | titlecase}}</ion-text>
              <ion-text class="cant"> X {{prod.cantidad}} un.</ion-text>
            </div>
          </div>
        </ion-item>
      </ion-item-group>
    </div> 
  </div>
 
</div>
  <!-- FIN VISTA MOZO: PEDIDOS PARA ENTREGAR -->

</ion-content>

 
 