.dataUser{
    font-size: 5vw;
    font-family: TCM;
}

.btnHabilitar{
    --background: none;
    width: 80%;
    background-color: #d9534f;    
    font-size: 4vw;
    height: auto;
    margin-top: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 12px;
}

.btnDeshabilitar{
    --background: none;
    width: 80%;
    background-color: #5cb85c;
    font-size: 4vw;
    height: auto;
    margin-top: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 12px;
}

#btnGuardar{
    position: fixed;
}

.empty{
    font-size: 5vw;
    color: rgb(0, 0, 0, 0.3);
    font-family: TCM;
    max-width: 70%;
    margin: auto;
}

@font-face{
    font-family: TCM;
    src: url(../../../assets/fonts/AnyConv.com__TCM_____.woff);
}