.dataUser{
    font-size: 5vw;
  font-family: BlackRoads;
}

.btnHabilitar{
    width: 80%;
    background-color: rgb(206, 38, 52);    
    font-weight: bold;
    font-size: 6vw;
    height: auto;
    margin-top: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 12px;
}

.btnDeshabilitar{
    width: 80%;
    background-color: rgb(106, 255, 47);
    font-weight: bold;
    font-size: 6vw;
    height: auto;
    margin-top: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 12px;
}

#btnGuardar{
    position: fixed;
}

.empty{
    font-size: 5vw;
    color: rgb(0, 0, 0, 0.3);
    font-family: TCM;
    max-width: 70%;
    margin: auto;
}

@font-face{
    font-family: TCM;
    src: url(../../../assets/fonts/AnyConv.com__TCM_____.woff);
}