<ion-header [translucent]="true">
  <app-header title="CLIENTES PENDIENTES"></app-header>
</ion-header>

<ion-content [fullscreen]="true">
  <div align="center" id="VntPrincipal">

    <div *ngFor="let user of usuariosPendientes" style="width: 90%;">
      <ion-card>
        <ion-card-content>
          <p align="center" class="dataUser">
            Nombre: {{user.nombre}} <br> Apellido: {{user.apellido}}<br>Correo: {{user.correo}}<br>DNI: {{user.dni}}
          </p>
          <div align="center">
            <ion-button class="btnHabilitar" (click)="HabilitarUser(user)" [hidden]="user.activated">Aceptar
              usuario</ion-button>
            <ion-button class="btnDeshabilitar" (click)="DeshabilitarUser(user)" [hidden]="!user.activated">Rechazar
              usuario</ion-button>
          </div>

        </ion-card-content>
      </ion-card>
    </div>

    <div [hidden]="!mostrarSinUsuarios" class="empty">
      <br><br>
      <p align="center">
        <img src="../../../assets/image/marca-agua.png" width="230"><br><br>
        <strong>NO TIENES USUARIOS PENDIENTES DE APROBACION</strong>
      </p>
    </div>

  </div>

</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-button expand="block" color="dark" [hidden]="!mostrarGuardar" (click)="Guardar()">Guardar cambios</ion-button>
  </ion-toolbar>
</ion-footer>