<ion-header [translucent]="true">
  <ion-toolbar>
      <ion-button slot="start" fill="clear" (click)="onClose()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    <ion-title align="center">{{table.table}}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-row *ngFor="let mensaje of mensajes.messages">
      <ion-col size="7" *ngIf="mensaje.userName !== user.nombre" class="message other">
        <b style="color:  rgb(27, 194, 183);">{{mensaje.userName}} {{mensaje.userLastName}}</b>
        <br>{{mensaje.content}}<br>
        <small style="color: grey;">{{mensaje.date}}</small>
      </ion-col>

      <ion-col offset="5" size="7" *ngIf="mensaje.user == user.nombre" class="message my">
        {{mensaje.content}}<br>
        <small style="color: white; float: right;">{{mensaje.date}}</small>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-footer padding>
  <ion-item>
    <ion-textarea [(ngModel)]="msg"></ion-textarea>
    <ion-button color="success" (click)="sendMessage()" class="enviar">
      <ion-icon name="send" class="enviar-icon"></ion-icon>
    </ion-button>
  </ion-item>
</ion-footer>
