<ion-app>
  <div id="super" [style.display]="splash ? 'flex' : 'none'">
    <div id="splash">
      <div class="hijo">
        <img class="espa1" src="../assets/splash/espatula.png">
        <img class="espa2" src="../assets/splash/espatula.png">
        <img class="cuerpo" src="../assets/splash/cuerpo.png">
        <label class="titulo">Comservy</label>
        <label class="nombres a">Marino</label>
        <label class="nombres b">Barriento</label>
        <label class="nombres c">Bugallo</label>
      </div>
    </div>
  </div>
  <ion-router-outlet></ion-router-outlet>
</ion-app>