<ion-content>
  <form autocomplete="off" [formGroup]="forma" (ngSubmit)="logUser()">
    <div>
      <label>Correo</label>
      <div>
        <input
          type="email"
          placeholder="Correo electrónico"
          formControlName="email"
          [class.is-invalid]="correoNoValido"
        />
        <small *ngIf="correoNoValido" class="text-danger">
          Ingrese correo
        </small>
      </div>
    </div>

    <div>
      <label>Contraseña</label>
      <div>
        <input
          type="password"
          placeholder="Contraseña"
          formControlName="pass"
          [class.is-invalid]="passNoValido"
        />
        <small *ngIf="passNoValido" class="text-danger">
          Ingrese contraseña
        </small>
      </div>
    </div>

    <div>
      <button type="submit">Guardar</button>
    </div>
  </form>
  <div>
    <button (click)="logPerfil('repartidor')">repartidor</button>
    <button (click)="logPerfil('duenio')">duenio</button>
    <button (click)="logPerfil('anonimo')">anonimo</button>
    <button (click)="logPerfil('metre')">metre</button>
    <button (click)="logPerfil('bartender')">bartender</button>
    <button (click)="logPerfil('cocinero')">cocinero</button>
    <button (click)="logPerfil('mozo')">mozo</button>
    <button (click)="logPerfil('supervisor')">supervisor</button>
  </div>

  <hr />

  <pre>
    Estado: {{forma.valid}}
    <br>
    Status: {{forma.status}}
  </pre>

  {{forma.value | json}}
</ion-content>
